@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin-inline: auto;
  padding: 20px;
}

/*! HEADER */

header {
  box-shadow: 0px 1px 4px 0px #00000040;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header nav {
  display: flex;
  gap: 50px;
  list-style: none;
}

.header a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1f2e35cc;
  display: flex;
  align-items: center;
  gap: 8px;
}

.header .icons {
  display: flex;
  gap: 24px;
}

/*! HEADER */

.hero p {
  color: red;
}
